# Python Compiled Files
*.log
*.pot
*.pyc

# C++ Compiled Object files
*.slo
*.lo
*.o

# C++ Compiled Dynamic libraries
*.so
*.dylib

# C++ Compiled Static libraries
*.lai
*.la
*.a

# Project files
config/config.ini